{% extends 'goods_base_head.html'%}
{%block title%}天天生鲜-搜索{%endblock title%}
{%block body%}

	<div class="search_bar clearfix">
		<a href="/index" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<form method='get' action='/search/' target='_blank'>
				<input type="text" class="input_text fl" name="q" placeholder={{query}}>
				<input type="submit" class="input_btn fr" name="" value="搜索">
			</form>
		</div>
		<div class="guest_cart fr">
			<a href="/cart" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl"></div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/index">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/index">全部分类</a>
		<span>></span>
		<a href="">搜索结果：{{query}}</a>
	</div>

	<div class="main_wrap clearfix">
		

		<div class="r_wrap fr clearfix">
			<div class="sort_bar" value={{sort}}>
				<a href="" class="active">默认</a>
				<a href="">价格</a>
				<a href="">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{% for g in page %}
				<li>
					<a href="/index/{{g.object.id}}"><img src="/static/{{g.object.gpic}}"></a>
					<h4><a href="/index/{{g.object.id}}">{{g.object.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{g.object.gprice}}</span>
						<span class="unit">500g</span>
						<a href="/cart/add-{{g.object.id}}-1" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{% endfor %}

				
			
			</ul>

			<div class="pagenation" value1="/list/{{tid}}-{{sort}}-" value2={{pid}} num={{num}}>
				{%if page.has_previous%}
				<a class='p_up' href="#"><上一页</a>
				{%endif%}
				{% for pindex in page.paginator.page_range %}
				{%if pindex == page.number%}
				<a href="" class="active">{{pindex}}</a>
				{%else%}
				<a href="/search/?q={{query}}&page={{pindex}}" class="">{{pindex}}</a>
				{%endif%}
				{% endfor %}
				{%if page.has_next%}
				<a class='p_up' href="#"><下一页</a>
				{%endif%}
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script type='text/javascript'>
		$(function(){
		if($('.login_btn').text().indexOf('登录')<0){
			$.get('/cart',function(data){
				$('.goods_count').text(data.count);
			});

		}

		})
	</script>
<script type=text/javascript>
	

	$(function(){
		var v1=$('.pagenation').attr('value1');
		var v2=Number($('.pagenation').attr('value2'));
		var num=Number($('.pagenation').attr('num'));
		var p_up ;
		var p_down ;
		$('.pagenation').children().eq(v2).addClass('active');

		if(1<v2<num){
			p_up=v2-1;
			p_down=v2+1;
		}
		if(v2==1){
			p_up=v2;
			p_down=v2+1;
		}
		if(v2==num){
			p_up=v2-1;
			p_down=v2;
			}
		console.log(p_up,p_down);
		p_up=v1+String(p_up);
		p_down=v1+String(p_down);
		$('.p_up').attr('href',p_up);
		$('.p_down').attr('href',p_down);


	})
	
</script>
	
</body>
</html>
{%endblock body%}